* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.parent {
  background-color: #111;
  /* height: 100vh; */
  min-height: 100vh;
  width: 100%;
  padding: 30px;
  display: flex;
  gap: 30px;
  /* color: #fff; */
  flex-wrap: wrap;
}

.card {
  height: 280px;
  width: 270px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.top img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  object-fit: cover;
}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1;
}



.center h3{
  font-size: 16px;
  font-weight: 600;
}

.center h3 span{
  font-size: 9px;
  font-weight: 400;
  color: #8b8b8b;
}

.center h2{
  font-size: 20px;
}

.center .tag{
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.center .tag h4{
   font-size: 12px;
   background-color: #dadada;
   color: #111;
   padding: 4px 8px;
   font-weight: 500;
   border-radius: 3px;
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #d7d7d7;
  padding-top: 15px;
}

.bottom button{
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  column-width: 600;
}

.bottom h3{
  font-size: 17px;

}
.bottom p{
  font-size: 12px;
  color: #8b8b8b;
}