* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  /* padding: 2rem; */
}

button {
   padding: 1rem 2rem;
   margin-top: 0.5rem;
   border-radius: 1rem;
   border: none;
   background-color: darkcyan;
   font-weight: bolder;
   font-size: 1rem;
}

input {
  padding: 1.4rem 3.4rem;
}

.box {
  height: 400px;
  width: 400px;
  background-color: brown;
}

.page1 {
  height: 100vh;
  width: 100vw;
  background-color: #2343;
}
.page2 {
  height: 100vh;
  width: 100vw;
  background-color: #2345;
}
.page3 {
  height: 100vh;
  width: 100vw;
  background-color: #3456;
}