* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #111;
}

.parent {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.card {
  /* height: 100px; */
  width: 300px;
  border: 2px solid #fff;
  padding: 20px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: #222;
}
.card p {
  margin: 20px 0  ;
  font-weight: 600;
}
.card img {
  height: 120px;
  width: 120px;
  object-fit: cover;
  border-radius: 50%;
}
.card button {
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
}