* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    color: #fff;
}

.card {
    background-color: pink;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

.nav {
    background-color: aquamarine;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}