.header {
  background-color: cadetblue;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.button {
  background-color: rgb(156, 41, 6);
  width: fit-content;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  font-size: 2rem;
  border: none;
}

.logo {
  text-decoration: underline;
  color: #fff;
}