*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 4rem;
}

button {
  width: fit-content;
  padding: 0.5rem;
  border-radius: 0.4rem;
  border: none;
  margin: 1rem 0;
}