* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
}

.parent {
    height: fit-content;
    width: fit-content;
    border: 1px solid rgb(57, 58, 57);
    padding: 0rem 3rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.counter-box {
    padding: 1rem 1rem;
    border: 1px solid white;
    border-radius: 1rem;
    font-size: 2rem;
    width: fit-content;
    margin: 1rem 5rem;
    /* background-color: rgb(118, 117, 117); */
}


button {
    margin: 1rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
    font-family: monospace;
    width: 15rem;
}