* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  /* background-color: #141514; */
  background-color: rgb(44, 52, 29);

  color: #fff;
}

.parent {
  padding: 2rem 5rem;
}

.parent h1 {
  text-align: center;
  /* margin-bottom: 0rem; */
  color: rgba(255, 204, 18, 0.804);
  font-family: cursive;
  font-style: oblique;
}

.cards-div {
  height: 80%;
  width: 100%;
  /* border: 1px solid white; */
  padding: 2rem 5.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.card {
  height: 18rem;
  width: 13rem;
  /* border: 1px solid brown; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-top: 4px solid burlywood;
  border-bottom: 4px solid burlywood;
  background-color: rgb(73, 79, 61);
  /* border-radius: 0.5rem; */
  border-radius: 10px;
  
}

.serialno-div {
  position: absolute;
  left: 0;
  background-color: burlywood;
  height: 1.6rem;
  width: 2.8rem;
  /* border-bottom-right-radius: 5pc; */
  border-bottom-right-radius: 0.6rem;
  border-top-left-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(32, 31, 31);
  font-weight: 600;
  /* font-style: italic; */
}
.serialno-div p {
  font-size: 1.2rem;
}

.card img {
  height: 8rem;
  margin-top: 2rem;
  
}

.bottom-content {
  /* color: bisque; */
  margin-top: 2rem;
}

.bottom-content h2 {
  font-size: 2rem;
  font-style: italic;
  color: #fff;
  margin-bottom: 1rem;
}

.bottom-content p {
  font-size: 1.2rem;
  text-align: center;
  color: bisque;
  font-style: oblique;
}